.main {
  display: flex;
  margin: 0 0 100px;
}

.main_text {
  display: block;
  padding-left: 120px;
  font-size: 12px;
}

.main_text h1 {
  display: flex;
  font-size: 50px;
}

.main_text h3 {
  display: flex;
  margin-top: 50px;
}

.main_screen > img {
  width: 500px;
  height: 400px;
  padding-left: 50px;
}
.main_screen button {
  background-color: black;
  color: white;
  display: flex;
  border-radius: 20px;
  position: absolute;
  width: 90px;
  right: 810px;
  top: 450px;
}
